body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1ecec;
}

#account-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 20px;
    width: 300px;
    margin-left: 8px;
}

.custom-file-input {
    line-height: 3;
    cursor: pointer;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Стилизация для input type="file" */
.custom-file-input {
    position: relative;
    overflow: hidden;
}

.custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

::placeholder {
    color: #aaa;
}